div {
    margin: 15%;
}

h1, h4 {
    color: maroon;
    text-align: center;
}

form {
    padding-top: 50px;
}

ion-input {
    margin-left: 10px;
}

span {
    font-size: 0.6em;
    color: red;
    padding: 10px 0px 10px 0px;
}